/* colorschemes */
  :root.light {
    --neutral1: lavender;
    --neutral2: darkslategrey;
    --grad1: linear-gradient(to bottom, dodgerblue, aquamarine);
    --notify1: lime;
    --backg1: snow;
    --backg2: white;
    --backg3: burlywood;
    --text1: black;
    --text2: navy;
  }

  :root.dark {
    --neutral1: navy;
    --neutral2: darkslategrey;
    --grad1: linear-gradient(to bottom, teal, midnightblue);
    --notify1: lime;
    --backg1: darkslategrey;
    --backg2: black;
    --backg3: navy;
    --text1: lime;
    --text2: darkorange;
  }

/* theme base */
    :root {
      max-height: 100%;

      --gap1: 0.5em;
      --gap2: 1em;
      --gap3: 0.25em;

      --maxmessagewidth: 500px;

      color: var(--text1);
      background: var(--backg2);
    }

    body {
      box-sizing: border-box;
      padding: var(--gap1);
      margin: 0;
    }

    :root, body, article.app {
      height: 100%;
    }

/* app */
  article.app {
    display: grid;
    grid-template-areas:
      "nav"
      "content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: var(--gap1);
  }

  /* nav */
    nav {
      grid-area: nav;
      background: var(--neutral1); 
    }

    nav a {
      text-decoration: none;
      color: inherit;
    }

    nav a.active {
      text-decoration: underline;
    }

  /* main view */
    section.current-view {
      grid-area: content;
      display: grid;
      grid-gap: var(--gap1);
      grid-template-areas:
        "scroller"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      overflow: auto;
    }

    /* lists and forms (main blocks of chat and settings) */
      ul {
        display: flex;
        padding-left: 0;
        margin: 0;
      }

      ul.chat, form.settings fieldset:first-of-type {
        grid-area: scroller;
        height: 100%;
        max-height: 100%;
        overflow: auto;
        margin: 0;
      }

      ul.chat {
        flex-direction: column;
        background: var(--grad1);
      }

      form.settings {
        position: relative;
        border: thin solid var(--neutral2);
      }

      fieldset {
        max-height: 100%;
        box-sizing: border-box;
        border: 0;
      }

      fieldset legend {
        position: fixed;
        padding: var(--gap3);
        border-radius: var(--gap1);
        left: 50%;
        transform: translate(-var(--gap2), -50%);
        background: var(--notify1);
      }

      fieldset legend:empty {
        display: none;
      }

      ul.chat li:last-of-type {
        margin-bottom: var(--gap2);
      }

      form.messager {
        grid-area: footer;
        display: flex;
        margin: 0;
      }

      button.defaults {
        text-align: center;
      }

      button {
        background: var(--neutral1);
        border: thin solid var(--neutral1);
      }

      form.messager .composer {
        flex-grow: 1;
        padding: var(--gap3);
        background: transparent;
        resize: none;
        outline: none;
      }

      .composer {
        border: thin solid var(--neutral1);
      }

      .composer:focus, 
      .composer:active {
        border: thin solid var(--text1);
      }

    /* list items (main blocks of chat) */
      li {
        display: inline-block;
        padding: var(--gap1);
        margin: var(--gap1);
        border-radius: var(--gap1);
        border: thin solid var(--neutral1);
        box-shadow: 0 1px 1px var(--neutral1);
        background: var(--backg1);
      }

      li p {
        margin: var(--gap3);
      }

      li time {
        font-size: x-small;
        color: var(--text2);
      }

      li cite {
        font-size: smaller;
      }

      li.message {
        max-width: var(--maxmessagewidth);
        align-self: start;
      }

      li div.metadata {
        text-align: right;
      }

      li.room-note {
        align-self: center;
        background: var(--backg3);
      }

      li.from-me {
        align-self: flex-end;
      }

      li.from-me p {
        text-align: right;
      }
