@import url(theme.css);

/* general element overrides */
  ul {
    display: flex;
    padding-left: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: var(--gap3) var(--gap1);
    margin: var(--gap1);
    border: medium solid var(--neutral1);
    box-shadow: 0 1px 1px var(--neutral1);
    background: var(--backg1);
  }

/* specific app components */
  article.app {
    display: grid;
    grid-template-areas:
      "nav"
      "content";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-gap: var(--gap1);
  }

  /* nav */
    nav {
      grid-area: nav;
      background: var(--neutral1); 
    }

    nav a {
      text-decoration: none;
      color: inherit;
    }

    nav a.active {
      text-decoration: underline;
    }

  /* main view */
    section.current-view {
      grid-area: content;
      display: grid;
      grid-gap: var(--gap1);
      grid-template-areas:
        "scroller"
        "footer";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      overflow: auto;
    }

  /* chat */
    ul.chat, form.settings fieldset {
      grid-area: scroller;
      height: 100%;
      max-height: 100%;
      overflow: auto;
      margin: 0;
    }

    ul.chat {
      flex-direction: column-reverse;
      background: var(--grad1);
    }

    form.messager {
      grid-area: footer;
      display: flex;
      margin: 0;
    }

    form.messager .composer {
      flex-grow: 1;
      padding: var(--gap3);
      background: transparent;
      resize: none;
    }

    .composer:focus, 
    .composer:active {
      border-color: var(--hl2);
    }

    button {
      background: var(--neutral1);
    }

  /* chat messages */
    ul.chat li:last-of-type {
      margin-bottom: var(--gap2);
    }

    /* message list item */
      li.message {
        max-width: var(--maxmessagewidth);
        align-self: start;
      }

      li.room-note {
        align-self: center;
        background: var(--backg3);
      }

      li.from-me {
        align-self: flex-end;
        text-align: right;
      }

    /* message components */
      li div.metadata {
        text-align: right;
      }

      li q {
        display: inline-block;
        quotes: none;
      }

      li q, li cite {
        overflow-wrap: break-word;
        hyphens: auto;
        word-break: break-all;
      }

      li time {
        color: var(--text2);
        font-size: x-small;
      }

      li cite {
        font-size: smaller;
      }

    /* specific class overrides */
      li.from-me q {
        text-align: right;
      }

  /* settings */
    form.settings {
      position: relative;
      border: medium solid var(--hl1);
    }

    fieldset {
      max-height: 100%;
      box-sizing: border-box;
      border: 0;
    }

    /* we used fieldset legend as a handy notification spot */
    fieldset legend {
      position: fixed;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: var(--gap3);
      background: var(--notify1);
    }

    fieldset legend:empty {
      display: none;
    }

    button.defaults {
      text-align: center;
    }

