/* colorschemes */
  :root.light, :root {
    --neutral1: lavender;
    --neutral2: darkslategrey;
    --hl1: dodgerblue;
    --hl2: aquamarine;
    --notify1: lime;
    --backg1: snow;
    --backg2: white;
    --backg3: burlywood;
    --text1: black;
    --text2: navy;
  }

  :root.dark {
    /*
      I tried developing a 'dark color' scheme
      but couldn't find one I liked.
      Ended up simply using a CSS invert filter on the light scheme
    */
    filter: invert(1.0);
  }

/* theme base */
  :root {
    max-height: 100%;

    --gap1: 0.5em;
    --gap2: 1em;
    --gap3: 0.25em;

    --maxmessagewidth: min(500px, 61.8%);

    --grad1: linear-gradient(to bottom, var(--hl1), var(--hl2));

    color: var(--text1);
    background: var(--backg2);

    font: 16px/135% Helvetica, Arial, sans-serif;
  }

  :root, body, article.app {
    height: 100%;
  }

  body {
    box-sizing: border-box;
    padding: var(--gap1);
    margin: 0;
    background: var(--backg2);
  }

/* form control theming */
  input, select, textarea, option {
    background: transparent;
  }

  input, select, textarea, button, option {
    font: inherit;
    color: inherit;
    outline: none;
    border: medium solid var(--neutral1);
  }

  input:focus, select:focus, textarea:focus, button:focus, option:focus,
  input:active, select:active, textarea:active, button:active, option:active {
    border: medium solid var(--hl1);
  }

